/* 
    v1.3.6
    Created on : 2020/01/07 17:03:44
    Author     :  AcubeDT rainy
*/
.cms_area * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    position: initial;
    font: inherit;
    word-wrap: break-word;
    text-align: inherit;
}

.cms_area article,
.cms_area aside,
.cms_area details,
.cms_area figcaption,
.cms_area figure,
.cms_area footer,
.cms_area header,
.cms_area hgroup,
.cms_area main,
.cms_area menu,
.cms_area nav,
.cms_area section,
.cms_area summary {
    display: block
}

.cms_area audio,
.cms_area canvas,
.cms_area progress,
.cms_area video {
    display: inline-block;
    vertical-align: baseline
}

.cms_area audio:not([controls]) {
    display: none;
    height: 0
}

.cms_area [hidden],
.cms_area template {
    display: none
}

.cms_area a {
    background-color: transparent
}

.cms_area a:active,
.cms_area a:hover {
    outline: 0
}

.cms_area abbr[title] {
    border-bottom: 1px dotted
}

.cms_area b,
.cms_area strong {
    font-weight: 700
}

.cms_area dfn {
    font-style: italic
}

.cms_area em {
    font-style: italic
}

.cms_area h1 {
    margin: .67em 0;
    font-size: 2em
}

.cms_area mark {
    color: #000;
    background: #ff0
}

.cms_area small {
    font-size: 80%
}

.cms_area sub,
.cms_area sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

.cms_area sup {
    top: -.5em
}

.cms_area sub {
    bottom: -.25em
}

.cms_area img {
    border: 0
}

.cms_area svg:not(:root) {
    overflow: hidden
}

.cms_area figure {
    margin: 1em 40px
}

.cms_area hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.cms_area pre {
    overflow: auto
}

.cms_area code,
.cms_area kbd,
.cms_area pre,
.cms_area samp {
    font-family: monospace, monospace;
    font-size: 1em
}

.cms_area button,
.cms_area input,
.cms_area optgroup,
.cms_area select,
.cms_area textarea {
    margin: 0;
    font: inherit;
    color: inherit
}

.cms_area button {
    overflow: visible
}

.cms_area button,
.cms_area select {
    text-transform: none
}

.cms_area button,
.cms_area input[type=button],
.cms_area input[type=reset],
.cms_area input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

.cms_area button[disabled],
.cms_area input[disabled] {
    cursor: default
}

.cms_area button::-moz-focus-inner,
.cms_area input::-moz-focus-inner {
    padding: 0;
    border: 0
}

.cms_area input {
    line-height: normal
}

.cms_area input[type=checkbox],
.cms_area input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

.cms_area input[type=number]::-webkit-inner-spin-button,
.cms_area input[type=number]::-webkit-outer-spin-button {
    height: auto
}

.cms_area input[type=search] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

.cms_area input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

.cms_area fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid silver
}

.cms_area legend {
    padding: 0;
    border: 0
}

.cms_area textarea {
    overflow: auto
}

.cms_area optgroup {
    font-weight: 700
}

.cms_area table {
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    border-collapse: inherit;
}

.cms_area tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit
}

.cms_area td,
.cms_area th {
    display: table-cell;
    vertical-align: inherit;
    border-collapse: inherit;
}

@media print {

    .cms_area *,
    :after,
    :before {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    .cms_area a,
    .cms_area a:visited {
        text-decoration: underline
    }

    .cms_area a[href]:after {
        content: " ("attr(href) ")"
    }

    .cms_area abbr[title]:after {
        content: " ("attr(title) ")"
    }

    .cms_area a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }

    .cms_area blockquote,
    .cms_area pre {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    .cms_area thead {
        display: table-header-group
    }

    .cms_area img,
    .cms_area tr {
        page-break-inside: avoid
    }

    .cms_area img {
        max-width: 100% !important
    }

    .cms_area h2,
    .cms_area h3,
    .cms_area p {
        orphans: 3;
        widows: 3
    }

    .cms_area h2,
    .cms_area h3 {
        page-break-after: avoid
    }

    .cms_area .navbar {
        display: none
    }

    .cms_area .btn>.caret,
    .cms_area .dropup>.btn>.caret {
        border-top-color: #000 !important
    }

    .cms_area .label {
        border: 1px solid #000
    }

    .cms_area .table {
        border-collapse: collapse !important
    }

    .cms_area .table td,
    .cms_area .table th {
        background-color: #fff !important
    }

    .cms_area .table-bordered td,
    .cms_area .table-bordered th {
        border: 1px solid #ddd !important
    }
}

.cms_area * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.cms_area:after,
.cms_area:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.cms_area {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333
}

.cms_area button,
.cms_area input,
.cms_area select,
.cms_area textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.cms_area a {
    color: #337ab7;
    text-decoration: none
}

.cms_area a:focus,
.cms_area a:hover {
    color: #23527c;
    text-decoration: underline
}

.cms_area a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.cms_area figure {
    margin: 0
}

.cms_area img {
    vertical-align: middle
}

.cms_area .carousel-inner>.item>a>img,
.cms_area .carousel-inner>.item>img,
.cms_area .img-responsive,
.cms_area .thumbnail a>img,
.cms_area .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto
}

.cms_area .img-rounded {
    border-radius: 6px
}

.cms_area .img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.cms_area .img-circle {
    border-radius: 50%
}

.cms_area hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

.cms_area .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.cms_area .sr-only-focusable:active,
.cms_area .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

.cms_area [role=button] {
    cursor: pointer
}

.cms_area .h1,
.cms_area .h2,
.cms_area .h3,
.cms_area .h4,
.cms_area .h5,
.cms_area .h6,
.cms_area h1,
.cms_area h2,
.cms_area h3,
.cms_area h4,
.cms_area h5,
.cms_area h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.cms_area .h1 .small,
.cms_area .h1 small,
.cms_area .h2 .small,
.cms_area .h2 small,
.cms_area .h3 .small,
.cms_area .h3 small,
.cms_area .h4 .small,
.cms_area .h4 small,
.cms_area .h5 .small,
.cms_area .h5 small,
.cms_area .h6 .small,
.cms_area .h6 small,
.cms_area h1 .small,
.cms_area h1 small,
.cms_area h2 .small,
.cms_area h2 small,
.cms_area h3 .small,
.cms_area h3 small,
.cms_area h4 .small,
.cms_area h4 small,
.cms_area h5 .small,
.cms_area h5 small,
.cms_area h6 .small,
.cms_area h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777
}

.cms_area .h1,
.cms_area .h2,
.cms_area .h3,
.cms_area h1,
.cms_area h2,
.cms_area h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.cms_area .h1 .small,
.cms_area .h1 small,
.cms_area .h2 .small,
.cms_area .h2 small,
.cms_area .h3 .small,
.cms_area .h3 small,
.cms_area h1 .small,
.cms_area h1 small,
.cms_area h2 .small,
.cms_area h2 small,
.cms_area h3 .small,
.cms_area h3 small {
    font-size: 65%
}

.cms_area .h4,
.cms_area .h5,
.cms_area .h6,
.cms_area h4,
.cms_area h5,
.cms_area h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

.cms_area .h4 .small,
.cms_area .h4 small,
.cms_area .h5 .small,
.cms_area .h5 small,
.cms_area .h6 .small,
.cms_area .h6 small,
.cms_area h4 .small,
.cms_area h4 small,
.cms_area h5 .small,
.cms_area h5 small,
.cms_area h6 .small,
.cms_area h6 small {
    font-size: 75%
}

.cms_area .h1,
.cms_area h1 {
    font-size: 36px
}

.cms_area .h2,
.cms_area h2 {
    font-size: 30px
}

.cms_area .h3,
.cms_area h3 {
    font-size: 24px
}

.cms_area .h4,
.cms_area h4 {
    font-size: 18px
}

.cms_area .h5,
.cms_area h5 {
    font-size: 14px
}

.cms_area .h6,
.cms_area h6 {
    font-size: 12px
}

.cms_area p {
    margin: 0 0 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.cms_area .lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4
}

@media (min-width:768px) {
    .cms_area .lead {
        font-size: 21px
    }
}

.cms_area .small,
.cms_area small {
    font-size: 85%
}

.cms_area .mark,
.cms_area mark {
    padding: .2em;
    background-color: #fcf8e3
}

.cms_area .text-left {
    text-align: left
}

.cms_area .text-right {
    text-align: right
}

.cms_area .text-center {
    text-align: center
}

.cms_area .text-justify {
    text-align: justify
}

.cms_area .text-nowrap {
    white-space: nowrap
}

.cms_area .text-lowercase {
    text-transform: lowercase
}

.cms_area .text-uppercase {
    text-transform: uppercase
}

.cms_area .text-capitalize {
    text-transform: capitalize
}

.cms_area .text-muted {
    color: #777
}

.cms_area .text-primary {
    color: #337ab7
}

.cms_area a.text-primary:focus,
.cms_area a.text-primary:hover {
    color: #286090
}

.cms_area .text-success {
    color: #3c763d
}

a.cms_area .text-success:focus,
.cms_area a.text-success:hover {
    color: #2b542c
}

.cms_area .text-info {
    color: #31708f
}

.cms_area a.text-info:focus,
.cms_area a.text-info:hover {
    color: #245269
}

.cms_area .text-warning {
    color: #8a6d3b
}

.cms_area a.text-warning:focus,
.cms_area a.text-warning:hover {
    color: #66512c
}

.cms_area .text-danger {
    color: #a94442
}

.cms_area a.text-danger:focus,
.cms_area a.text-danger:hover {
    color: #843534
}

.cms_area .bg-primary {
    color: #fff;
    background-color: #337ab7
}

.cms_area a.bg-primary:focus,
.cms_area a.bg-primary:hover {
    background-color: #286090
}

.cms_area .bg-success {
    background-color: #dff0d8
}

.cms_area a.bg-success:focus,
.cms_area a.bg-success:hover {
    background-color: #c1e2b3
}

.cms_area .bg-info {
    background-color: #d9edf7
}

.cms_area a.bg-info:focus,
.cms_area a.bg-info:hover {
    background-color: #afd9ee
}

.cms_area .bg-warning {
    background-color: #fcf8e3
}

.cms_area a.bg-warning:focus,
.cms_area a.bg-warning:hover {
    background-color: #f7ecb5
}

.cms_area .bg-danger {
    background-color: #f2dede
}

.cms_area a.bg-danger:focus,
.cms_area a.bg-danger:hover {
    background-color: #e4b9b9
}

.cms_area .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee
}

.cms_area ol,
.cms_area ul {
    margin-top: 0;
    margin-bottom: 10px
}

.cms_area ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px
}

.cms_area ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px
}

.cms_area ol ol,
.cms_area ol ul,
.cms_area ul ol,
.cms_area ul ul {
    margin-bottom: 0
}

.cms_area .list-unstyled {
    padding-left: 0;
    list-style: none
}

.cms_area .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none
}

.cms_area .list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px
}

.cms_area dl {
    margin-top: 0;
    margin-bottom: 20px
}

.cms_area dd,
.cms_area dt {
    line-height: 1.42857143
}

.cms_area dt {
    font-weight: 700
}

.cms_area dd {
    margin-left: 0
}

@media (min-width:768px) {
    .cms_area .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .cms_area .dl-horizontal dd {
        margin-left: 180px
    }
}

.cms_area abbr[data-original-title],
.cms_area abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #777
}

.cms_area .initialism {
    font-size: 90%;
    text-transform: uppercase
}

.cms_area blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee
}

.cms_area blockquote ol:last-child,
.cms_area blockquote p:last-child,
.cms_area blockquote ul:last-child {
    margin-bottom: 0
}

.cms_area blockquote .small,
.cms_area blockquote footer,
.cms_area blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777
}

.cms_area blockquote .small:before,
.cms_area blockquote footer:before,
.cms_area blockquote small:before {
    content: '\2014 \00A0'
}

.cms_area .blockquote-reverse,
.cms_area blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 5px solid #eee;
    border-left: 0
}

.cms_area .blockquote-reverse .small:before,
.cms_area .blockquote-reverse footer:before,
.cms_area .blockquote-reverse small:before,
.cms_area blockquote.pull-right .small:before,
.cms_area blockquote.pull-right footer:before,
.cms_area blockquote.pull-right small:before {
    content: ''
}

.cms_area .blockquote-reverse .small:after,
.cms_area .blockquote-reverse footer:after,
.cms_area .blockquote-reverse small:after,
.cms_area blockquote.pull-right .small:after,
.cms_area blockquote.pull-right footer:after,
.cms_area blockquote.pull-right small:after {
    content: '\00A0 \2014'
}

.cms_area address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143
}

.cms_area code,
.cms_area kbd,
.cms_area pre,
.cms_area samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

.cms_area code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px
}

.cms_area kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25)
}

.cms_area kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700;
    -webkit-box-shadow: none;
    box-shadow: none
}

.cms_area pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px
}

.cms_area pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
}

.cms_area .pre-scrollable {
    max-height: 340px;
    overflow-y: scroll
}

.cms_area table {
    background-color: transparent;
    border-collapse: collapse;
}

.cms_area caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left
}

.cms_area th {
    text-align: left
}

.cms_area .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}

.cms_area .table>tbody>tr>td,
.cms_area .table>tbody>tr>th,
.cms_area .table>tfoot>tr>td,
.cms_area .table>tfoot>tr>th,
.cms_area .table>thead>tr>td,
.cms_area .table>thead>tr>th {
    border-right: solid 1px transparent;
    border-left: solid 1px transparent;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

.cms_area .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.cms_area .table>caption+thead>tr:first-child>td,
.cms_area .table>caption+thead>tr:first-child>th,
.cms_area .table>colgroup+thead>tr:first-child>td,
.cms_area .table>colgroup+thead>tr:first-child>th,
.cms_area .table>thead:first-child>tr:first-child>td,
.cms_area .table>thead:first-child>tr:first-child>th {
    border-top: 0
}

.cms_area .table>tbody+tbody {
    border-top: 2px solid #ddd
}

.cms_area .table .table {
    background-color: #fff
}

.cms_area .table-condensed>tbody>tr>td,
.cms_area .table-condensed>tbody>tr>th,
.cms_area .table-condensed>tfoot>tr>td,
.cms_area .table-condensed>tfoot>tr>th,
.cms_area .table-condensed>thead>tr>td,
.cms_area .table-condensed>thead>tr>th {
    padding: 5px
}

.cms_area .table-borderless>tbody>tr>td,
.cms_area .table-borderless>tbody>tr>th,
.cms_area .table-borderless>tfoot>tr>td,
.cms_area .table-borderless>tfoot>tr>th,
.cms_area .table-borderless>thead>tr>td,
.cms_area .table-borderless>thead>tr>th,
.cms_area .table.table-borderless>tbody:last-child>tr>td {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent
}

.cms_area .table-bordered {
    border: 1px solid #ddd
}

.cms_area .table-bordered>tbody>tr>td,
.cms_area .table-bordered>tbody>tr>th,
.cms_area .table-bordered>tfoot>tr>td,
.cms_area .table-bordered>tfoot>tr>th,
.cms_area .table-bordered>thead>tr>td,
.cms_area .table-bordered>thead>tr>th {
    border: 1px solid #ddd
}

.cms_area .table-bordered>thead>tr>td,
.cms_area .table-bordered>thead>tr>th {
    border-bottom-width: 2px
}

.cms_area .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.cms_area .table-hover>tbody>tr:hover {
    background-color: #f5f5f5
}

.cms_area table col[class*=col-cms_grid] {
    position: static;
    display: table-column;
    float: none
}

.cms_area table td[class*=col-cms_grid],
.cms_area table th[class*=col-cms_grid] {
    position: static;
    display: table-cell;
    float: none
}

.cms_area .table-responsive {
    min-height: .01%;
    overflow-x: auto
}

@media screen and (max-width:767px) {
    .cms_area .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd
    }

    .cms_area .table-responsive>.table {
        margin-bottom: 0
    }

    .cms_area .table-responsive>.table>tbody>tr>td,
    .cms_area .table-responsive>.table>tbody>tr>th,
    .cms_area .table-responsive>.table>tfoot>tr>td,
    .cms_area .table-responsive>.table>tfoot>tr>th,
    .cms_area .table-responsive>.table>thead>tr>td,
    .cms_area .table-responsive>.table>thead>tr>th {
        white-space: nowrap
    }

    .cms_area .table-responsive>.table-bordered {
        border: 0
    }

    .cms_area .table-responsive>.table-bordered>tbody>tr>td:first-child,
    .cms_area .table-responsive>.table-bordered>tbody>tr>th:first-child,
    .cms_area .table-responsive>.table-bordered>tfoot>tr>td:first-child,
    .cms_area .table-responsive>.table-bordered>tfoot>tr>th:first-child,
    .cms_area .table-responsive>.table-bordered>thead>tr>td:first-child,
    .cms_area .table-responsive>.table-bordered>thead>tr>th:first-child {
        border-left: 0
    }

    .cms_area .table-responsive>.table-bordered>tbody>tr>td:last-child,
    .cms_area .table-responsive>.table-bordered>tbody>tr>th:last-child,
    .cms_area .table-responsive>.table-bordered>tfoot>tr>td:last-child,
    .cms_area .table-responsive>.table-bordered>tfoot>tr>th:last-child,
    .cms_area .table-responsive>.table-bordered>thead>tr>td:last-child,
    .cms_area .table-responsive>.table-bordered>thead>tr>th:last-child {
        border-right: 0
    }

    .cms_area .table-responsive>.table-bordered>tbody>tr:last-child>td,
    .cms_area .table-responsive>.table-bordered>tbody>tr:last-child>th,
    .cms_area .table-responsive>.table-bordered>tfoot>tr:last-child>td,
    .cms_area .table-responsive>.table-bordered>tfoot>tr:last-child>th {
        border-bottom: 0
    }
}

.cms_area fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

.cms_area legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

.cms_area label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

.cms_area input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.cms_area input[type=checkbox],
.cms_area input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal
}

.cms_area input[type=file] {
    display: block
}

.cms_area input[type=range] {
    display: block;
    width: 100%
}

.cms_area select[multiple],
.cms_area select[size] {
    height: auto
}

.cms_area input[type=file]:focus,
.cms_area input[type=checkbox]:focus,
.cms_area input[type=radio]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.cms_area output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555
}

.cms_area input[type=search] {
    -webkit-appearance: none
}

.cms_area iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}



.cms_area .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    width: 100%;
    min-width: 300px
}

.cms_area .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.cms_table-rwd {
    min-height: .01%;
    overflow-x: auto
}

.cms_area p.table-rwd_mobile {
    display: none
}

.cms_area .table>tbody:last-child>tr>td {
    border-bottom: 1px solid #ddd
}

.cms_area .borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none
}

@media screen and (max-width:992px) {
    .cms_area p.table-rwd_mobile {
        margin: 20px 0 15px;
        color: #555;
        letter-spacing: 1px;
        display: inline-block;
        width: 100%;
        font-size: 16px;
        font-weight: 600
    }
}

@media screen and (max-width:767px) {
    .cms_table-rwd {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
}

.cms_view_area {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%
}

.cms_view_area img {
    width: 100%
}

.cms_view_area p {
    margin-top: 7px
}

.cms_gridrow {
    margin-right: -7px;
    margin-left: -7px
}

.cms_gridrow:after,
.cms_gridrow:before {
    display: table;
    content: " "
}

.cms_gridrow:after {
    clear: both
}

.col-cms_gridlg-1,
.col-cms_gridlg-10,
.col-cms_gridlg-11,
.col-cms_gridlg-12,
.col-cms_gridlg-2,
.col-cms_gridlg-3,
.col-cms_gridlg-4,
.col-cms_gridlg-5,
.col-cms_gridlg-6,
.col-cms_gridlg-7,
.col-cms_gridlg-8,
.col-cms_gridlg-9,
.col-cms_gridmd-1,
.col-cms_gridmd-10,
.col-cms_gridmd-11,
.col-cms_gridmd-12,
.col-cms_gridmd-2,
.col-cms_gridmd-3,
.col-cms_gridmd-4,
.col-cms_gridmd-5,
.col-cms_gridmd-6,
.col-cms_gridmd-7,
.col-cms_gridmd-8,
.col-cms_gridmd-9,
.col-cms_gridsm-1,
.col-cms_gridsm-10,
.col-cms_gridsm-11,
.col-cms_gridsm-12,
.col-cms_gridsm-2,
.col-cms_gridsm-3,
.col-cms_gridsm-4,
.col-cms_gridsm-5,
.col-cms_gridsm-6,
.col-cms_gridsm-7,
.col-cms_gridsm-8,
.col-cms_gridsm-9,
.col-cms_gridxs-1,
.col-cms_gridxs-10,
.col-cms_gridxs-11,
.col-cms_gridxs-12,
.col-cms_gridxs-2,
.col-cms_gridxs-3,
.col-cms_gridxs-4,
.col-cms_gridxs-5,
.col-cms_gridxs-6,
.col-cms_gridxs-7,
.col-cms_gridxs-8,
.col-cms_gridxs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 7px;
    padding-left: 7px
}

.col-cms_gridxs-1,
.col-cms_gridxs-10,
.col-cms_gridxs-11,
.col-cms_gridxs-12,
.col-cms_gridxs-2,
.col-cms_gridxs-3,
.col-cms_gridxs-4,
.col-cms_gridxs-5,
.col-cms_gridxs-6,
.col-cms_gridxs-7,
.col-cms_gridxs-8,
.col-cms_gridxs-9 {
    float: left
}

.col-cms_gridxs-12 {
    width: 100%
}

.col-cms_gridxs-11 {
    width: 91.66666667%
}

.col-cms_gridxs-10 {
    width: 83.33333333%
}

.col-cms_gridxs-9 {
    width: 75%
}

.col-cms_gridxs-8 {
    width: 66.66666667%
}

.col-cms_gridxs-7 {
    width: 58.33333333%
}

.col-cms_gridxs-6 {
    width: 50%
}

.col-cms_gridxs-5 {
    width: 41.66666667%
}

.col-cms_gridxs-4 {
    width: 33.33333333%
}

.col-cms_gridxs-3 {
    width: 25%
}

.col-cms_gridxs-2 {
    width: 16.66666667%
}

.col-cms_gridxs-1 {
    width: 8.33333333%
}

.col-cms_gridxs-pull-12 {
    right: 100%
}

.col-cms_gridxs-pull-11 {
    right: 91.66666667%
}

.col-cms_gridxs-pull-10 {
    right: 83.33333333%
}

.col-cms_gridxs-pull-9 {
    right: 75%
}

.col-cms_gridxs-pull-8 {
    right: 66.66666667%
}

.col-cms_gridxs-pull-7 {
    right: 58.33333333%
}

.col-cms_gridxs-pull-6 {
    right: 50%
}

.col-cms_gridxs-pull-5 {
    right: 41.66666667%
}

.col-cms_gridxs-pull-4 {
    right: 33.33333333%
}

.col-cms_gridxs-pull-3 {
    right: 25%
}

.col-cms_gridxs-pull-2 {
    right: 16.66666667%
}

.col-cms_gridxs-pull-1 {
    right: 8.33333333%
}

.col-cms_gridxs-pull-0 {
    right: auto
}

.col-cms_gridxs-push-12 {
    left: 100%
}

.col-cms_gridxs-push-11 {
    left: 91.66666667%
}

.col-cms_gridxs-push-10 {
    left: 83.33333333%
}

.col-cms_gridxs-push-9 {
    left: 75%
}

.col-cms_gridxs-push-8 {
    left: 66.66666667%
}

.col-cms_gridxs-push-7 {
    left: 58.33333333%
}

.col-cms_gridxs-push-6 {
    left: 50%
}

.col-cms_gridxs-push-5 {
    left: 41.66666667%
}

.col-cms_gridxs-push-4 {
    left: 33.33333333%
}

.col-cms_gridxs-push-3 {
    left: 25%
}

.col-cms_gridxs-push-2 {
    left: 16.66666667%
}

.col-cms_gridxs-push-1 {
    left: 8.33333333%
}

.col-cms_gridxs-push-0 {
    left: auto
}

.col-cms_gridxs-offset-12 {
    margin-left: 100%
}

.col-cms_gridxs-offset-11 {
    margin-left: 91.66666667%
}

.col-cms_gridxs-offset-10 {
    margin-left: 83.33333333%
}

.col-cms_gridxs-offset-9 {
    margin-left: 75%
}

.col-cms_gridxs-offset-8 {
    margin-left: 66.66666667%
}

.col-cms_gridxs-offset-7 {
    margin-left: 58.33333333%
}

.col-cms_gridxs-offset-6 {
    margin-left: 50%
}

.col-cms_gridxs-offset-5 {
    margin-left: 41.66666667%
}

.col-cms_gridxs-offset-4 {
    margin-left: 33.33333333%
}

.col-cms_gridxs-offset-3 {
    margin-left: 25%
}

.col-cms_gridxs-offset-2 {
    margin-left: 16.66666667%
}

.col-cms_gridxs-offset-1 {
    margin-left: 8.33333333%
}

.col-cms_gridxs-offset-0 {
    margin-left: 0
}

@media (min-width:768px) {

    .col-cms_gridsm-1,
    .col-cms_gridsm-10,
    .col-cms_gridsm-11,
    .col-cms_gridsm-12,
    .col-cms_gridsm-2,
    .col-cms_gridsm-3,
    .col-cms_gridsm-4,
    .col-cms_gridsm-5,
    .col-cms_gridsm-6,
    .col-cms_gridsm-7,
    .col-cms_gridsm-8,
    .col-cms_gridsm-9 {
        float: left
    }

    .col-cms_gridsm-12 {
        width: 100%
    }

    .col-cms_gridsm-11 {
        width: 91.66666667%
    }

    .col-cms_gridsm-10 {
        width: 83.33333333%
    }

    .col-cms_gridsm-9 {
        width: 75%
    }

    .col-cms_gridsm-8 {
        width: 66.66666667%
    }

    .col-cms_gridsm-7 {
        width: 58.33333333%
    }

    .col-cms_gridsm-6 {
        width: 50%
    }

    .col-cms_gridsm-5 {
        width: 41.66666667%
    }

    .col-cms_gridsm-4 {
        width: 33.33333333%
    }

    .col-cms_gridsm-3 {
        width: 25%
    }

    .col-cms_gridsm-2 {
        width: 16.66666667%
    }

    .col-cms_gridsm-1 {
        width: 8.33333333%
    }

    .col-cms_gridsm-pull-12 {
        right: 100%
    }

    .col-cms_gridsm-pull-11 {
        right: 91.66666667%
    }

    .col-cms_gridsm-pull-10 {
        right: 83.33333333%
    }

    .col-cms_gridsm-pull-9 {
        right: 75%
    }

    .col-cms_gridsm-pull-8 {
        right: 66.66666667%
    }

    .col-cms_gridsm-pull-7 {
        right: 58.33333333%
    }

    .col-cms_gridsm-pull-6 {
        right: 50%
    }

    .col-cms_gridsm-pull-5 {
        right: 41.66666667%
    }

    .col-cms_gridsm-pull-4 {
        right: 33.33333333%
    }

    .col-cms_gridsm-pull-3 {
        right: 25%
    }

    .col-cms_gridsm-pull-2 {
        right: 16.66666667%
    }

    .col-cms_gridsm-pull-1 {
        right: 8.33333333%
    }

    .col-cms_gridsm-pull-0 {
        right: auto
    }

    .col-cms_gridsm-push-12 {
        left: 100%
    }

    .col-cms_gridsm-push-11 {
        left: 91.66666667%
    }

    .col-cms_gridsm-push-10 {
        left: 83.33333333%
    }

    .col-cms_gridsm-push-9 {
        left: 75%
    }

    .col-cms_gridsm-push-8 {
        left: 66.66666667%
    }

    .col-cms_gridsm-push-7 {
        left: 58.33333333%
    }

    .col-cms_gridsm-push-6 {
        left: 50%
    }

    .col-cms_gridsm-push-5 {
        left: 41.66666667%
    }

    .col-cms_gridsm-push-4 {
        left: 33.33333333%
    }

    .col-cms_gridsm-push-3 {
        left: 25%
    }

    .col-cms_gridsm-push-2 {
        left: 16.66666667%
    }

    .col-cms_gridsm-push-1 {
        left: 8.33333333%
    }

    .col-cms_gridsm-push-0 {
        left: auto
    }

    .col-cms_gridsm-offset-12 {
        margin-left: 100%
    }

    .col-cms_gridsm-offset-11 {
        margin-left: 91.66666667%
    }

    .col-cms_gridsm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-cms_gridsm-offset-9 {
        margin-left: 75%
    }

    .col-cms_gridsm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-cms_gridsm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-cms_gridsm-offset-6 {
        margin-left: 50%
    }

    .col-cms_gridsm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-cms_gridsm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-cms_gridsm-offset-3 {
        margin-left: 25%
    }

    .col-cms_gridsm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-cms_gridsm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-cms_gridsm-offset-0 {
        margin-left: 0
    }
}

@media (min-width:992px) {

    .col-cms_gridmd-1,
    .col-cms_gridmd-10,
    .col-cms_gridmd-11,
    .col-cms_gridmd-12,
    .col-cms_gridmd-2,
    .col-cms_gridmd-3,
    .col-cms_gridmd-4,
    .col-cms_gridmd-5,
    .col-cms_gridmd-6,
    .col-cms_gridmd-7,
    .col-cms_gridmd-8,
    .col-cms_gridmd-9 {
        float: left
    }

    .col-cms_gridmd-12 {
        width: 100%
    }

    .col-cms_gridmd-11 {
        width: 91.66666667%
    }

    .col-cms_gridmd-10 {
        width: 83.33333333%
    }

    .col-cms_gridmd-9 {
        width: 75%
    }

    .col-cms_gridmd-8 {
        width: 66.66666667%
    }

    .col-cms_gridmd-7 {
        width: 58.33333333%
    }

    .col-cms_gridmd-6 {
        width: 50%
    }

    .col-cms_gridmd-5 {
        width: 41.66666667%
    }

    .col-cms_gridmd-4 {
        width: 33.33333333%
    }

    .col-cms_gridmd-3 {
        width: 25%
    }

    .col-cms_gridmd-2 {
        width: 16.66666667%
    }

    .col-cms_gridmd-1 {
        width: 8.33333333%
    }

    .col-cms_gridmd-pull-12 {
        right: 100%
    }

    .col-cms_gridmd-pull-11 {
        right: 91.66666667%
    }

    .col-cms_gridmd-pull-10 {
        right: 83.33333333%
    }

    .col-cms_gridmd-pull-9 {
        right: 75%
    }

    .col-cms_gridmd-pull-8 {
        right: 66.66666667%
    }

    .col-cms_gridmd-pull-7 {
        right: 58.33333333%
    }

    .col-cms_gridmd-pull-6 {
        right: 50%
    }

    .col-cms_gridmd-pull-5 {
        right: 41.66666667%
    }

    .col-cms_gridmd-pull-4 {
        right: 33.33333333%
    }

    .col-cms_gridmd-pull-3 {
        right: 25%
    }

    .col-cms_gridmd-pull-2 {
        right: 16.66666667%
    }

    .col-cms_gridmd-pull-1 {
        right: 8.33333333%
    }

    .col-cms_gridmd-pull-0 {
        right: auto
    }

    .col-cms_gridmd-push-12 {
        left: 100%
    }

    .col-cms_gridmd-push-11 {
        left: 91.66666667%
    }

    .col-cms_gridmd-push-10 {
        left: 83.33333333%
    }

    .col-cms_gridmd-push-9 {
        left: 75%
    }

    .col-cms_gridmd-push-8 {
        left: 66.66666667%
    }

    .col-cms_gridmd-push-7 {
        left: 58.33333333%
    }

    .col-cms_gridmd-push-6 {
        left: 50%
    }

    .col-cms_gridmd-push-5 {
        left: 41.66666667%
    }

    .col-cms_gridmd-push-4 {
        left: 33.33333333%
    }

    .col-cms_gridmd-push-3 {
        left: 25%
    }

    .col-cms_gridmd-push-2 {
        left: 16.66666667%
    }

    .col-cms_gridmd-push-1 {
        left: 8.33333333%
    }

    .col-cms_gridmd-push-0 {
        left: auto
    }

    .col-cms_gridmd-offset-12 {
        margin-left: 100%
    }

    .col-cms_gridmd-offset-11 {
        margin-left: 91.66666667%
    }

    .col-cms_gridmd-offset-10 {
        margin-left: 83.33333333%
    }

    .col-cms_gridmd-offset-9 {
        margin-left: 75%
    }

    .col-cms_gridmd-offset-8 {
        margin-left: 66.66666667%
    }

    .col-cms_gridmd-offset-7 {
        margin-left: 58.33333333%
    }

    .col-cms_gridmd-offset-6 {
        margin-left: 50%
    }

    .col-cms_gridmd-offset-5 {
        margin-left: 41.66666667%
    }

    .col-cms_gridmd-offset-4 {
        margin-left: 33.33333333%
    }

    .col-cms_gridmd-offset-3 {
        margin-left: 25%
    }

    .col-cms_gridmd-offset-2 {
        margin-left: 16.66666667%
    }

    .col-cms_gridmd-offset-1 {
        margin-left: 8.33333333%
    }

    .col-cms_gridmd-offset-0 {
        margin-left: 0
    }
}

@media (min-width:1200px) {

    .col-cms_gridlg-1,
    .col-cms_gridlg-10,
    .col-cms_gridlg-11,
    .col-cms_gridlg-12,
    .col-cms_gridlg-2,
    .col-cms_gridlg-3,
    .col-cms_gridlg-4,
    .col-cms_gridlg-5,
    .col-cms_gridlg-6,
    .col-cms_gridlg-7,
    .col-cms_gridlg-8,
    .col-cms_gridlg-9 {
        float: left
    }

    .col-cms_gridlg-12 {
        width: 100%
    }

    .col-cms_gridlg-11 {
        width: 91.66666667%
    }

    .col-cms_gridlg-10 {
        width: 83.33333333%
    }

    .col-cms_gridlg-9 {
        width: 75%
    }

    .col-cms_gridlg-8 {
        width: 66.66666667%
    }

    .col-cms_gridlg-7 {
        width: 58.33333333%
    }

    .col-cms_gridlg-6 {
        width: 50%
    }

    .col-cms_gridlg-5 {
        width: 41.66666667%
    }

    .col-cms_gridlg-4 {
        width: 33.33333333%
    }

    .col-cms_gridlg-3 {
        width: 25%
    }

    .col-cms_gridlg-2 {
        width: 16.66666667%
    }

    .col-cms_gridlg-1 {
        width: 8.33333333%
    }

    .col-cms_gridlg-pull-12 {
        right: 100%
    }

    .col-cms_gridlg-pull-11 {
        right: 91.66666667%
    }

    .col-cms_gridlg-pull-10 {
        right: 83.33333333%
    }

    .col-cms_gridlg-pull-9 {
        right: 75%
    }

    .col-cms_gridlg-pull-8 {
        right: 66.66666667%
    }

    .col-cms_gridlg-pull-7 {
        right: 58.33333333%
    }

    .col-cms_gridlg-pull-6 {
        right: 50%
    }

    .col-cms_gridlg-pull-5 {
        right: 41.66666667%
    }

    .col-cms_gridlg-pull-4 {
        right: 33.33333333%
    }

    .col-cms_gridlg-pull-3 {
        right: 25%
    }

    .col-cms_gridlg-pull-2 {
        right: 16.66666667%
    }

    .col-cms_gridlg-pull-1 {
        right: 8.33333333%
    }

    .col-cms_gridlg-pull-0 {
        right: auto
    }

    .col-cms_gridlg-push-12 {
        left: 100%
    }

    .col-cms_gridlg-push-11 {
        left: 91.66666667%
    }

    .col-cms_gridlg-push-10 {
        left: 83.33333333%
    }

    .col-cms_gridlg-push-9 {
        left: 75%
    }

    .col-cms_gridlg-push-8 {
        left: 66.66666667%
    }

    .col-cms_gridlg-push-7 {
        left: 58.33333333%
    }

    .col-cms_gridlg-push-6 {
        left: 50%
    }

    .col-cms_gridlg-push-5 {
        left: 41.66666667%
    }

    .col-cms_gridlg-push-4 {
        left: 33.33333333%
    }

    .col-cms_gridlg-push-3 {
        left: 25%
    }

    .col-cms_gridlg-push-2 {
        left: 16.66666667%
    }

    .col-cms_gridlg-push-1 {
        left: 8.33333333%
    }

    .col-cms_gridlg-push-0 {
        left: auto
    }

    .col-cms_gridlg-offset-12 {
        margin-left: 100%
    }

    .col-cms_gridlg-offset-11 {
        margin-left: 91.66666667%
    }

    .col-cms_gridlg-offset-10 {
        margin-left: 83.33333333%
    }

    .col-cms_gridlg-offset-9 {
        margin-left: 75%
    }

    .col-cms_gridlg-offset-8 {
        margin-left: 66.66666667%
    }

    .col-cms_gridlg-offset-7 {
        margin-left: 58.33333333%
    }

    .col-cms_gridlg-offset-6 {
        margin-left: 50%
    }

    .col-cms_gridlg-offset-5 {
        margin-left: 41.66666667%
    }

    .col-cms_gridlg-offset-4 {
        margin-left: 33.33333333%
    }

    .col-cms_gridlg-offset-3 {
        margin-left: 25%
    }

    .col-cms_gridlg-offset-2 {
        margin-left: 16.66666667%
    }

    .col-cms_gridlg-offset-1 {
        margin-left: 8.33333333%
    }

    .col-cms_gridlg-offset-0 {
        margin-left: 0
    }
}

.cms_gridside_area {
    display: inline-block;
    width: 100%;
    position: relative
}

.cms_area .cms_gridside_area .wrap_video_left {
    width: calc((100% / 2) - 15px);
    float: left;
}

.cms_area .cms_gridside_area .wrap_video_right {
    width: calc((100% / 2) - 15px);
    float: right;
}

.img-responsive.cme_imgside_right {
    width: 100%;
    max-width: 50%;
    float: right;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px
}

.img-responsive.cme_imgside_left {
    width: 100%;
    max-width: 50%;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px
}



@media screen and (max-width:400px) {
    .img-responsive.cme_imgside_right {
        max-width: 100%;
        float: none;
        margin-left: 0
    }

    .img-responsive.cme_imgside_left {
        max-width: 100%;
        float: none;
        margin-right: 0
    }
}

.cms_area .cke_editable {
    font-size: 13px;
    line-height: 1.6;
    /* Fix for missing scrollbars with RTL texts. (#10488) */
    word-wrap: break-word;
}

.cms_area blockquote {
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
}

.cms_area .cke_contents_ltr blockquote {
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
}

.cms_area .cke_contents_rtl blockquote {
    padding-left: 8px;
    padding-right: 20px;
    border-right-width: 5px;
}

.cms_area a {
    color: #0782C1;
}

.cms_area ol,
.cms_area ul,
.cms_area dl {
    /* IE7: reset rtl list margin. (#7334) */
    *margin-right: 0px;
    /* Preserved spaces for list items with text direction different than the list. (#6249,#8049)*/
    padding: 0 40px;
}

.cms_area h1,
.cms_area h2,
.cms_area h3,
.cms_area h4,
.cms_area h5,
.cms_area h6 {
    font-weight: normal;
    line-height: 1.2;
}

.cms_area hr {
    border: 0px;
    border-top: 1px solid #ccc;
}

.cms_area img.right {
    border: 1px solid #ccc;
    float: right;
    margin-left: 15px;
    padding: 5px;
}

.cms_area img.left {
    border: 1px solid #ccc;
    float: left;
    margin-right: 15px;
    padding: 5px;
}

.cms_area pre {
    white-space: pre-wrap;
    /* CSS 2.1 */
    word-wrap: break-word;
    /* IE7 */
    -moz-tab-size: 4;
    tab-size: 4;
}

.cms_area .marker {
    background-color: Yellow;
}

.cms_area span[lang] {
    font-style: italic;
}

.cms_area figure {
    text-align: center;
    outline: solid 1px #ccc;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px;
    margin: 10px 20px;
    display: inline-block;
}

.cms_area figure>figcaption {
    text-align: center;
    display: block;
    /* For IE8 */
}

.cms_area a>img {
    padding: 1px;
    margin: 1px;
    border: none;
    outline: 1px solid #0782C1;
}

/* Widget Styles */

.cms_area .code-featured {
    border: 5px solid red;
}

.cms_area .math-featured {
    padding: 20px;
    box-shadow: 0 0 2px rgba(200, 0, 0, 1);
    background-color: rgba(255, 0, 0, 0.05);
    margin: 10px;
}

.cms_area .image-clean {
    border: 0;
    background: none;
    padding: 0;
}

.cms_area .image-clean>figcaption {
    font-size: .9em;
    text-align: right;
}

.cms_area .image-grayscale {
    background-color: white;
    color: #666;
}

.cms_area .image-grayscale img,
.cms_area img.image-grayscale {
    filter: grayscale(100%);
}

.cms_area .embed-240p {
    max-width: 426px;
    max-height: 240px;
    margin: 0 auto;
}

.cms_area .embed-360p {
    max-width: 640px;
    max-height: 360px;
    margin: 0 auto;
}

.cms_area .embed-480p {
    max-width: 854px;
    max-height: 480px;
    margin: 0 auto;
}

.cms_area .embed-720p {
    max-width: 1280px;
    max-height: 720px;
    margin: 0 auto;
}

.cms_area .embed-1080p {
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;
}